* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

 .parent .child-1{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 200px;
    gap: 5px;

 }
 .parent .child-1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
 }
 .acc{
    color: rgb(255, 255, 255);
    background-color: rgb(162, 84, 162);
    padding: 5px;
    border-radius: 10px;
 }